<div class="fixed top-0 left-0 z-999 w-full p-8">
  <div
    class="bg-card flex items-center justify-between rounded-xl border p-8 shadow-lg"
  >
    <div>
      {{ site.name }}
    </div>
    <div>
      <a href="{{ site.home_url }}">Home</a>
      <a href="{{ site.home_url }}/blog">Blog</a>
    </div>
  </div>
</div>
