#wc-stripe-express-checkout-button-separator {
  @apply text-muted-foreground text-sm;
}

#wc-stripe-upe-form {
  background-color: oklch(0.97 0 0);
  color: oklch(0.145 0 0);
  @apply w-full rounded-md text-sm mt-4 p-0 dark:p-4 pt-0 dark:border;
}

.form-row.woocommerce-SavedPaymentMethods-saveNew {
    flex-direction: row;
}