@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::selection {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

i {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}
